<div class="tasks-list text-center">
  <h4>Tasks</h4>
  <input #query
         (keyup)="filterTasks(query.value)"
         type="text" class="form-control tasks-search-box" placeholder="Search...">
  <div class="list-group" *ngFor="let task of filteredTasks  | paginate: { itemsPerPage: 8, currentPage: page }">
    <a [routerLink]="['/task/', task.id]" class="list-group-item list-group-item-action task-list-item">
      {{ task.title }}
    </a>
  </div>

  <div class="tasks-pagination">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>
</div>



