<div class="text-center" >

  <app-tracker [task]="task"></app-tracker>
  <div class="float-right">
    <button (click)="onDelete()" class="btn btn-sm btn-light" >Delete</button>
  </div>
  <div class="task-container">
    <h1 class="display-4">{{ task.title }}</h1>
    <hr class="my-4">
    <p class="lead">{{ task.description }}</p>
    <hr class="my-4">
    <div class="row">
      <div class="col">
        <span class="float-left"><b>Created at:</b> {{ task.created_at | date:'medium' }}</span>
      </div>
      <div class="col" *ngIf="task.duration">
        <span class="float-left"><b>Duration:</b> {{ task.duration | secondsToTime }}</span>
      </div>
      <div class="col" *ngIf="task.updated_at">
        <span class="float-right"><b>Finished at:</b> {{ task.updated_at | date:'medium' }}</span>
      </div>
    </div>
  </div>

</div>
